.buttonx {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #cc542e;
    border-radius: 8px;
    background: #ff894b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff894b), to(#cc542e));
    background: -moz-linear-gradient(top, #ff894b, #cc542e);
    background: linear-gradient(to bottom, #ff894b, #cc542e);
    text-shadow: #80351d 1px 1px 1px;
    font: normal normal bold 14px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid ##ff693a;
    background: #ffa45a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa45a), to(#f56537));
    background: -moz-linear-gradient(top, #ffa45a, #f56537);
    background: linear-gradient(to bottom, #ffa45a, #f56537);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #cc542e;
    background: -webkit-gradient(linear, left top, left bottom, from(#cc542e), to(#cc542e));
    background: -moz-linear-gradient(top, #cc542e, #cc542e);
    background: linear-gradient(to bottom, #cc542e, #cc542e);
}
